#heading {
  text-align: center;
  color: rgb(0, 80, 0);
}

#blog-button {
    position: absolute;
    top: 180px;
    right: 20px; /* adjust the value to move the button left or right */
    transform: translateY(-50%);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 24px;
    background-color: darkgreen;
  }
  #blog-button:hover {
    opacity: 0.8;
  }
  
  .traveldrop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #travel {
    width: 75%;
      padding: 6px 6px;
      margin: 8px 0;
      border: 1px solid #ccc;
  }
  
  #form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    display: none; /* hide the overlay by default */
  }
  .form-popup {
      display: none;
      transform: translate(-50%, -50%);
      position: fixed;
      z-index: 2;
      left: 50%;
      top: 50%;
      overflow: auto;
      
    }
    
    .form-popup form {
      background-color: #e6f7e7;
      margin: 5% auto;
      padding: 15px;
      border: 1px solid #888;
      width: 90%;
      border-radius: 5px;
    }
    
    .form-popup input[type=text], .form-popup input[type=date] {
      width: 32%;
      padding: 6px 6px;
      margin: 8px 0;
      border: 1px solid #ccc;
      /*box-sizing: border-box;*/
    }
    #radios {
      display: flex;
      justify-content: space-evenly;
    }
    #radiobtn {
      display: flex;
      justify-content: space-between;
    }
    .input-container {
      display: flex;
      justify-content: space-between;
    }
    
    #blogtext {
      width: 100%;
      height: 120px;
      border: 1px solid #ccc;
    }
    .button-align {
      text-align: right;
      bottom: 2%;
    }
    .form-popup button[type=submit], .form-popup button[type=button] {
      background-color: darkseagreen;
      color: white;
      padding: 3px 24px;
      margin: 6px 6px;
      border: none;
      cursor: pointer;
     
    }
    
    .form-popup button[type=submit]:hover, .form-popup button[type=button]:hover {
      opacity: 0.8;
    }
    
    .form-popup .cancel {
      background-color: #f44336;
    }

    #blogcontainer {
      background-color: rgb(191, 225, 194);
      border-radius: 5px;
      margin: 30px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    #blogcontainer div{
      display: flex;
      align-items: baseline;
      justify-content: center;
      
    }
    #blogcontainer h6 {
      margin-left: 15px;
      flex: 1;
    }
    #blogcontainer h3 {
      color: darkgreen; 
    }
    #blogcontainer p {
      margin: 15px 30px 30px;
    }

    #blogcontainer button {
      background-color: darkgreen;
      color: white;
      border-color: rgb(80, 80, 80);
      padding: 3px 24px;
      margin: 6px 6px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    #blogcontainer button:hover {
        opacity: 0.8;
    }
    #blogcontainer a{
      color: grey;
      text-decoration: underline;
      margin-left: auto;
    }
    #Place,#Journey{
      margin-left:30px;
    }
    
    
  
   