img{
    border-radius: 15px;
}
#turtle{
    width: 100%;
}
hr{
    border-color: darkseagreen;
}
#beschreibungAlg{
    padding: 10px;
    text-align: center;
    font-size: 22px;

}
h1{
    text-align: center;
}
#blogdiv{
    font-size: 22px;
    text-align: center;
    padding: 30px;

}
#blogbild{
    height: 375px;
    width: 375px;
}
p{
    font-size: 22px;
}
#textj{
    padding: 25px;
}