#imageImprint{
    object-position: center;
    width: 50%;
    height: auto;
    justify-content: center;

}

#beschreibungImprint{
    /*Hier soll noch das Impressum unten cool aussehen */
}
