button {
    padding: 10px 20px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: darkgreen;
}

ul {
    list-style-type: none;
    padding: 0;
}
#überschriftJourneys {
    text-align: center;
    color: rgb(0, 80, 0);
}
#ueberjourney{
    text-align: center;

}

.bi-star-fill,.bi-star-half,.bi-star{
    color: gold;
    padding: 5px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* create Button
 */
#blog-button {
    position: absolute;
    top: 180px;
    right: 20px; /* adjust the value to move the button left or right */
    transform: translateY(-50%);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 24px;
    background-color: darkgreen;
}
#blog-button:hover {
    opacity: 0.8;
}

#travel {
    width: 75%;
    padding: 6px 6px;
    margin: 8px 0;
    border: 1px solid #ccc;
}

#form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
    display: none; /* hide the overlay by default */
}
.form-popup {
    display: none;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    overflow: auto;
}

.form-popup form {
    background-color: #e6f7e7;
    margin: 5% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 5px;
    width: 700px;
    overflow-y: auto;
}

.form-popup input[type=text], .form-popup input[type=date] {
    width: 32%;
    padding: 6px 6px;
    margin: 8px 0;
    border: 1px solid #ccc;
    /*box-sizing: border-box;*/
}

.input-container {
    display: flex;
    justify-content: space-between;
}

#blogtext {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
}
.button-align {
    text-align: right;
    bottom: 2%;
}
.form-popup button[type=submit], .form-popup button[type=button] {
    background-color: darkgreen;
    color: white;
    padding: 3px 24px;
    margin: 6px 6px;
    border: none;
    cursor: pointer;

}

.form-popup button[type=submit]:hover, .form-popup button[type=button]:hover {
    opacity: 0.8;
}

.form-popup .cancel {
    background-color: #f44336;
}
/*Input design*/
/*Sternebewertung*/
.ratings {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ratings li {
    float: left;
    margin-right: 10px;
}

.ratings input[type="checkbox"] {
    display: none;
}

.ratings label:before {
    content: "\2605";
    font-size: 20px;
    color: #ccc;
}

.ratings input[type="checkbox"]:checked ~ label:before {
    color: #f90;
}

#input{
    margin-left: 20px;
    margin-right: 20px;
}
#categories,#tags,#seasons{
    border-color: darkseagreen;
    padding: 3px 24px;
    margin: 6px 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 210px;
}

#journeys-container {
    display: flex;
    flex-wrap: wrap;
}

.journey {
    width: 100%;
    margin: 20px;
    padding: 10px;
    background-color: darkseagreen;
    border-radius: 5px;
}

.journey h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.journey p {
    margin-top: 5px;
}

.journey-tags {
    font-weight: bold;
    margin-top: 10px;
}

.journey-pois {
    margin-top: 10px;
}

.journey-poi {
    margin-top: 5px;
}
