
#banner{
    background-color: darkseagreen;
	position: fixed;
	top: 0%;
	width: 100%;
}
#navbar{
	width: 100%;
}
li{
	padding-right: 40px;
	padding-left: 40px;
	font-size: 20px;
}
#text{
	padding-top: 130px;
}
#last-text {
	padding-bottom: 20px;
}
body {
  min-height: 100%;
}
#nett {
	display: block;
	margin: auto;
	width: 500px;
	height: auto;
}
#sticky-footer {
    position: fixed;
    bottom:0%;
    width: 100%;
    background-color: darkseagreen;
}

#to-top {
	color:white;
}

#to-top:hover {
	color: darkgreen;
}
#content {
  flex: 1 0 auto;
}