
#banner{
    background-color: darkseagreen;
	position: fixed;
	top: 0%;
	width: 100%;
}
#navbar{
	width: 100%;
}
li{
	padding-right: 40px;
	padding-left: 40px;
	font-size: 20px;
}
#text{
	padding-top: 120px;
}
#last-text {
	padding-bottom: 20px;
}
body {
  height: 100%;
}
#sticky-footer {
    position: fixed;
    bottom:0%;
    width: 100%;
    background-color: darkseagreen;
}
#to-top {
	color: seagreen;
}
#to-top:hover {
	color: darkgreen;
}
#content {
  flex: 1 0 auto;
}