
#banner{
    background-color: darkseagreen;
	position: fixed;
	top: 0%;
	width: 100%;
}
#navbar{
	width: 100%;
}
#text{
	padding-top: 150px;
}
html,
body {
  height: 100%;
}
#sticky-footer {
    position: sticky;
}
#content {
  flex: 1 0 auto;
}